[submodule "api"]
	path = api
	url = git@gitlab.com:spectre.app/api.git
[submodule "libsodium/upstream"]
	path = libsodium/upstream
	url = https://github.com/jedisct1/libsodium.git
[submodule "libjson-c/upstream"]
	path = libjson-c/upstream
	url = https://github.com/json-c/json-c.git
