<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-64.png</string>
				<string>Icon-320.png</string>
				<string>Icon-1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spectre sites export</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.spectre.user.mpsites</string>
				<string>com.lyndir.Spectre.sites</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon-64.png</string>
				<string>Icon-320.png</string>
				<string>Icon-1024.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Spectre JSON export</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.spectre.user.json</string>
				<string>com.lyndir.Spectre.json</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon-1024</string>
			<key>CFBundleURLName</key>
			<string>app.spectre</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spectre</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Take a picture to use in Spectre.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticate to unlock your biometrics-enabled user.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011, Maarten Billemont</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos to use in Spectre.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-VF.otf</string>
		<string>PoppinsLatin-Black.otf</string>
		<string>PoppinsLatin-BlackItalic.otf</string>
		<string>PoppinsLatin-Bold.otf</string>
		<string>PoppinsLatin-BoldItalic.otf</string>
		<string>PoppinsLatin-ExtraBold.otf</string>
		<string>PoppinsLatin-ExtraBoldItalic.otf</string>
		<string>PoppinsLatin-ExtraLight.otf</string>
		<string>PoppinsLatin-ExtraLightItalic.otf</string>
		<string>PoppinsLatin-Italic.otf</string>
		<string>PoppinsLatin-Light.otf</string>
		<string>PoppinsLatin-LightItalic.otf</string>
		<string>PoppinsLatin-Medium.otf</string>
		<string>PoppinsLatin-MediumItalic.otf</string>
		<string>PoppinsLatin-Regular.otf</string>
		<string>PoppinsLatin-SemiBold.otf</string>
		<string>PoppinsLatin-SemiBoldItalic.otf</string>
		<string>PoppinsLatin-Thin.otf</string>
		<string>PoppinsLatin-ThinItalic.otf</string>
		<string>Font Awesome 6 Brands-Regular-400.otf</string>
		<string>Font Awesome 6 Duotone-Solid-900.otf</string>
		<string>Font Awesome 6 Pro-Light-300.otf</string>
		<string>Font Awesome 6 Pro-Regular-400.otf</string>
		<string>Font Awesome 6 Pro-Solid-900.otf</string>
		<string>Font Awesome 6 Pro-Thin-100.otf</string>
		<string>SourceCodePro-Black.otf</string>
		<string>SourceCodePro-Regular.otf</string>
		<string>SourceCodePro-ExtraLight.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Spectre sites export</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Icon-64.png</string>
				<string>Icon-320.png</string>
				<string>Icon-1024.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>app.spectre.user.mpsites</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpsites</string>
					<string>mpsites.txt</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Spectre JSON export</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Icon-64.png</string>
				<string>Icon-320.png</string>
				<string>Icon-1024.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>app.spectre.user.json</string>
			<key>UTTypeReferenceURL</key>
			<string>https://gitlab.com/Spectre/Spectre/-/wikis/File-Format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpjson</string>
					<string>mpsites.json</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
