<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.authentication-services-credential-provider-ui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AutoFillProviderController</string>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Authenticate to unlock your biometrics-enabled user.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2011, Maarten Billemont</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-VF.otf</string>
		<string>PoppinsLatin-Black.otf</string>
		<string>PoppinsLatin-BlackItalic.otf</string>
		<string>PoppinsLatin-Bold.otf</string>
		<string>PoppinsLatin-BoldItalic.otf</string>
		<string>PoppinsLatin-ExtraBold.otf</string>
		<string>PoppinsLatin-ExtraBoldItalic.otf</string>
		<string>PoppinsLatin-ExtraLight.otf</string>
		<string>PoppinsLatin-ExtraLightItalic.otf</string>
		<string>PoppinsLatin-Italic.otf</string>
		<string>PoppinsLatin-Light.otf</string>
		<string>PoppinsLatin-LightItalic.otf</string>
		<string>PoppinsLatin-Medium.otf</string>
		<string>PoppinsLatin-MediumItalic.otf</string>
		<string>PoppinsLatin-Regular.otf</string>
		<string>PoppinsLatin-SemiBold.otf</string>
		<string>PoppinsLatin-SemiBoldItalic.otf</string>
		<string>PoppinsLatin-Thin.otf</string>
		<string>PoppinsLatin-ThinItalic.otf</string>
		<string>Font Awesome 6 Brands-Regular-400.otf</string>
		<string>Font Awesome 6 Duotone-Solid-900.otf</string>
		<string>Font Awesome 6 Pro-Light-300.otf</string>
		<string>Font Awesome 6 Pro-Regular-400.otf</string>
		<string>Font Awesome 6 Pro-Solid-900.otf</string>
		<string>Font Awesome 6 Pro-Thin-100.otf</string>
		<string>SourceCodePro-Black.otf</string>
		<string>SourceCodePro-Regular.otf</string>
		<string>SourceCodePro-ExtraLight.otf</string>
	</array>
</dict>
</plist>
